<div class="module__banner module__banner--feature-image module__banner--circle module__banner--course module__banner--dark">
  <div class="grid">
      <div class="cell cell--offset-1-col cell--offset-2-col-x-large cell--offset-0-col-small cell--6-col">
          <div class="breadcrumbs__node"><div id="breadcrumbs" class="breadcrumbs noindex">
      <div>
        <nav>
        <ol aria-label="breadcrumb" class="cell cell--8-col cell--offset-1-col cell--offset-2-col-x-large cell--offset-0-col-x-small">
          
          
          
          
          <li class="breadcrumbs__list-item">
            <a href="//www.deakin.edu.au" class="breadcrumbs__link">
                Home
              </a>
          </li>
          
                        <li class="breadcrumbs__list-item">
              <a href="//www.deakin.edu.au/course" class="breadcrumbs__link">
                Course                </a>
            </li>
                        <li class="breadcrumbs__list-item">
              <a href="//www.deakin.edu.au/course/bachelor-design-architecture" class="breadcrumbs__link">
                Bachelor of Design (Architecture)                </a>
            </li>
                    </ol>
        </nav>
      </div>
    </div></div>            
          <div class="module__banner-content--wrapper">
              <div class="module__banner-content">
                  <div class="module__banner-title">
                      <h1>Bachelor of Design (Architecture)</h1>
                      <strong>Undergraduate degree</strong>
                  </div>
                  <div class="module__banner-description">  
                      <p>Immerse yourself in our architecture degree to explore innovative real-world projects and learn about architectural ideas, building science and design.</p>
                    <div class="module__banner-description-share-course">
                        <p><strong>Domestic student information</strong></p>
                        <a href="http://www.deakin.edu.au/course/bachelor-design-architecture-international">Switch to international student information</a>

                      <div class="related-item--share">
                        <ul class="share__tooltip">
                          <li class="social-link social-link__facebook">
                            <a class="social-link__link addthis_button_facebook" addthis:url="http://www.deakin.edu.au/course/bachelor-design-architecture" addthis:title="Bachelor of Design (Architecture)" href="#" tabindex="0" title="Facebook"><i></i>Facebook</a>
                          </li> 
                          <li class="social-link social-link__twitter">
                            <a class="social-link__link addthis_button_twitter" addthis:url="http://www.deakin.edu.au/course/bachelor-design-architecture" addthis:title="Bachelor of Design (Architecture)" href="#" tabindex="0" title="Twitter"><i></i>Twitter</a>
                          </li>   
                          <li class="social-link social-link__linkedin">
                            <a class="social-link__link addthis_button_linkedin" addthis:url="http://www.deakin.edu.au/course/bachelor-design-architecture" addthis:title="Bachelor of Design (Architecture)" href="#" tabindex="0" target="_blank" title="LinkedIn"><i></i>Linkedin</a>
                          </li>
                        </ul>
                        <a href="#" title="Share Button" aria-label="Share Button" class="" tabindex="0"><span class="icon__share--white"></span></a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="module__banner-feature">
      <div class="module__banner-image--wrapper">
          <div class="module__banner-image" style="background-image: url(http://www.deakin.edu.au/__data/assets/image/0003/549174/6748_Bachelor-DesignArchitecture-Hero.jpg);">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="394px" height="2000px" viewBox="0 0 394 2000" style="enable-background:new 0 0 394 2000;" xml:space="preserve" preserveAspectRatio="xMinYMid">
                  <path d="M11.5,1008.3c0,378.8,138.6,725.2,367.7,991.7H0V0h394C156.1,268.4,11.5,621.7,11.5,1008.3z"></path>
              </svg>
          </div>
      </div>
  </div>
</div>