<header id="header" class="header">
    <!-- Network Links -->
    <div id="header__network-links" class=" network-links noindex">
        <ul>
            <li class="network-links__list-item"><a tabindex="0" href="#main-content" class="network-links__link network-links__link--skip">Skip to main content</a></li>
            <li class=" network-links__list-item network-links__expendable hidden"><a href="#" class="lang-toggle network-links__link">Change Language</a>
                <ul class=" lang-dropdown__list">
                    <li class=" lang-dropdown__list-item hidden"><a title="English" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language English</span>English</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Russian" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Russian</span>Pусский</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Chinese" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Chinese</span>中国</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Korean" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Korean</span>한국어</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Chinese" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Chinese</span>中國</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Spanish" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Spanish</span>Español</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Vietnamese" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Vietnamese</span>tiếng Việt</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Portugese" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Portugese</span>Português</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Malaysian" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Malaysian</span>Bahasa Malaysia</span></a></li>
                    <li class="lang-dropdown__list-item hidden"><a title="Thai" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Thai</span>ภาษาไทย</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Indonesian" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Indonesian</span>Bahasa Indonesia</span></a></li>
                    <li class=" lang-dropdown__list-item hidden"><a title="Arabic" href="" class="lang-dropdown__list-link"><span><span class="hidden">Language Arabic</span>العربية</span></a></li>
                </ul>
            </li>
            <li class=" network-links__list-item"><a href="//www-cms-uat.deakin.edu.au/international-students" class="network-links__link">International Students</a></li>
            <li class=" network-links__list-item"><a href="//www-cms-uat.deakin.edu.au/career-practitioners" class="network-links__link">Career practitioners</a></li>
            <li class=" network-links__list-item"><a href="//www-cms-uat.deakin.edu.au/library" class="network-links__link link__external" target="_blank">Library</a></li>
            <li class=" network-links__list-item"><a href="//sync.deakin.edu.au" class="network-links__link link__external" target="_blank">Staff</a></li>
            <li class=" network-links__list-item"><a href="//www-cms-uat.deakin.edu.au/students" class="network-links__link link__external" target="_blank">Current students</a></li>
            <li class=" network-links__list-item"><a href="//www-cms-uat.deakin.edu.au/contact-us" class="network-links__link">Contact Deakin</a></li>
            <li class=" network-links__list-item"><a href="//www-cms-uat.deakin.edu.au/my-courses" class="network-links__link course__count">My Courses<i>0</i></a></li>
        </ul>
    </div>
    <div id="header__bar" class="">
        <div class="toggle__backing"></div>
        <div id="header__bar--inner">
            <div id="main-logo" class="main-logo">
                <a href="//www-cms-uat.deakin.edu.au" class="main-logo__link" title="Deakin University Australia">
                <span class="main-logo__assistive-text">Deakin University Australia</span>
                <img class="main-logo__image" src="https://www-cms-uat.deakin.edu.au/__data/assets/image/0007/1146985/logo_deakin-rebrand-stacked.png" alt="Deakin University Australia">
            </a>
            </div>
        </div>
        <div id="search-bar__wrapper--outer">
            <div class="grid">
                <div id="search-bar__wrapper" class="cell cell--4-col cell--offset-6-col-large cell--offset-8-col-x-large">
                    <button type="button" role="button" aria-label="Toggle Search" id="search-bar__toggle" tabindex="-1">
                        <span class="icon icon__search--white"></span>
                        Search
                    </button>
                    <form action="//www-cms-uat.deakin.edu.au/search" method="get" novalidate="novalidate">
                        <div id="search-bar" role="search">
                            <label for="search-bar__input" id="search-bar__input-label">Search Deakin for</label>
                            <div id="search-bar__input-wrapper">
                                <input id="search-bar__input" aria-labelledby="search-bar__input-label" type="text" aria-label="site search" placeholder="Search Deakin for..." name="q" value="">
                            </div>
                            <div id="search-bar__filter">
                                <label for="search-bar__filter-select" id="search-bar__filter-select-label">Filter Search</label>
                                <select id="search-bar__filter-select" aria-labelledby="search-bar__filter-select-label" aria-label="filter search" style="width: 100%" name="dknpagetype" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                    <option value="All">&nbsp;</option>
                                    <option value="Course">Courses</option>
                                    <option value="News,events">News and events</option>
                                    <option value="People">People</option>
                                    <option value="All">Everything</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-search-bar__filter-select-container"><span class="select2-selection__rendered" role="option" id="select2-search-bar__filter-select-container"><span class="select2-selection__placeholder">Filter by:</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <button id="search-bar__button--submit" aria-label="Search">
                                <span class="icon icon__search--white"></span>
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" role="button" aria-label="Toggle Navigation" id="navigation__toggle" tabindex="0">
            <span class="hamburger">
            <span class="patties"></span>
            </span>
            Menu
        </button>
    </div>
</header>