<div class="module__keyfacts course--keyfacts" data-section="key facts">
              <div class="module__content-panel--wrapper module__content-panel--wrapper--content-spacing"> 
                <div class="module__content-panel--title--full-width">
                  <h2 class="course__section-heading">Key facts</h2>
                </div>
                <div class="module__content-panel--text--full-width">
                  <div class="module__summary--items">
                        <div class="module__summary--item">

                          <div class="module__summary--icon-wrapper">
                            <h3 class="course__subheading">ATAR</h3>
                          </div>

                          <div class="module__summary--content">
                            <div class="module__atar-table"><div class="module__atar-table--row"><div>Waterfront:</div><div>70.05</div></div></div>
                            <a class="term_has_def" onkeypress="return false" onclick="return false" href="#" title="Previously called 'clearly-in', this is now known as the lowest selection rank to which offers were made this year, including relevant adjustment factors.">Lowest selection rank</a>
                          </div>

                        </div>
                      <div class="module__summary--item module__summary--item-bullets">

                        <div class="module__summary--icon-wrapper">
                          <h3 class="course__subheading">Duration</h3>
                        </div>

                        <div class="module__summary--content">
                          3 years full-time or part-time equivalent
                        </div>
                      </div>
                      <div class="module__summary--item">

                        <div class="module__summary--icon-wrapper">
                          <h3 class="course__subheading">Campuses </h3>
                        </div>

                        <div class="module__summary--content">
                           <ul><li><a href="http://www.deakin.edu.au/campus-life/geelong-waterfront-campus">Waterfront (Geelong)</a></li></ul>

                        </div>

                      </div>
                  </div>
                </div>
              </div>
              <div class="module__content-panel">
                <div class="module__content-panel--wrapper">
                  <div class="module__content-panel--title">
                    <h3 class="course__subheading">Key dates</h3>
                  </div>

                  <div class="module__content-panel--text">
                    <p>Direct applications to Deakin for Trimester 1  2019 close 17 February 2019<br>VTAC entries are closed.</p>
                  </div>
                </div>
              </div>
                <div class="module__content-panel">
                  <div class="module__content-panel--wrapper">
                    <div class="module__content-panel--title">
                      <h3 class="course__subheading">Current Deakin Students</h3>
                    </div>
                    <div class="module__content-panel--text">
              <div id="content_container_1373626">
              <p>To access your official course details for the year you started your degree, please visit the&nbsp;<a href="https://www.deakin.edu.au/students/enrolment-fees-and-money/university-handbook" target="_blank">handbook</a></p>
              </div>
              </div>
                  </div>
                </div>
            </div>