<div class="overlay register-interest-overlay" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog">
    <div id="modal">
      <div role="document">

        <!-- Add svg icons to page for reference -->
        <div class="hidden">{% include "./icons.njk" %}</div>

        <!-- Adds the modal title partial -->
        {% include "./modal-partials/modal-title.njk" %}

        <!-- Adds the modal info partial -->
        {% include "./modal-partials/modal-info.njk" %}      

        <div class="modal__body">

          <form name="registerInterest" id="registerInterest">
          
            <!-- Adds the undergrad section one partial -->
            {% include "./../courses-partials/undergrad-section-one.njk" %}

            <!-- Adds the undergrad section two partial -->
            {% include "./../courses-partials/undergrad-section-two.njk" %}
            

        </form>
        
      </div><!-- /.modal__body -->
   </div><!-- Role Document -->
   
  </div><!-- /#modal -->
</div><!-- /.overlay -->
<form id="mktoForm_3171" style="display:none"></form>