<aside class="navigation__utility">
  <ul class="navigation__utility--items">
    <li class="navigation__utility--item">
      <a href="#" class="navigation__utility--link navigation__utility-link_Call_now">
        <span class="navigation__utility--link__content--wrapper"><span class="navigation__utility--link__content"><span class="navigation__utility--link__content--inner"><span class="icon__wrapper"><span class="icon icon__telephone"></span></span><span class="sticky-hide  hide_call-now">Call now</span><span class="show_call-now">1800 693 888</span></span></span></span>
      </a>
    </li>
    <li class="navigation__utility--item">
      <a href="http://discover.deakin.edu.au/Register-Interest.html?_ga=2.56013416.257432724.1544397717-2127778120.1543369312" class="navigation__utility--link navigation__utility-link_Get_more_info">
        <span class="navigation__utility--link__content--wrapper"><span class="navigation__utility--link__content"><span class="navigation__utility--link__content--inner"><span class="icon__wrapper"><span class="icon icon__pen navigation__utility-link_Get_more_info"></span></span><span class="sticky-hide">Get more info</span></span></span></span>
      </a>
    </li>
    <li class="navigation__utility--item navigation__utility--item-sticky">
      <a href="http://www.deakin.edu.au/application-portal" class="navigation__utility--link navigation__utility-link_Apply_now" target="_blank">
        <span class="navigation__utility--link__content--wrapper"><span class="navigation__utility--link__content"><span class="navigation__utility--link__content--inner"><span class="icon__wrapper"><span class="icon icon__page navigation__utility-link_Apply_now"></span></span><span class="sticky-hide">Apply now</span></span></span></span>
      </a>
    </li>
  </ul>
</aside>