<div id="navigation__course" class="navigation__course navigation__course--stacked navigation__course--save-course">
  <div class="navigation__course--wrapper">
    <div class="navigation__course--inner-wrapper">
      <div class="navigation__course--view left-fade">
        <div class="navigation__course--body-outer">
          <div class="related-item--favourite"><div class="saved__tooltip"><p>You have successfully saved this course. <a href="/my-courses">Visit your saved courses</a></p></div>
            <a href="#" title="Save Button" aria-label="Save Button" class="navigation__course--save-button" data-save-id="449795">
              <span>
                Save course
                <span class="icon__heart"></span>
              </span>
            </a>
          </div>
          <div class="navigation__course--body">
            <ul class="navigation__course--items">
            <li class="navigation__course--item navigation__course--item-active"><a href="#" tabindex="-1" class="Sticky_anchorlink_Key_facts"><span>Key facts</span></a></li><li class="navigation__course--item"><a href="#" tabindex="-1" class="Sticky_anchorlink_Course_information"><span>Course information</span></a></li><li class="navigation__course--item"><a href="#" tabindex="-1" class="Sticky_anchorlink_Entry_requirements"><span>Entry requirements</span></a></li><li class="navigation__course--item"><a href="#" tabindex="-1" class="Sticky_anchorlink_Fees_and scholarships"><span>Fees and scholarships</span></a></li><li class="navigation__course--item"><a href="#" tabindex="-1" class="Sticky_anchorlink_Apply_now"><span>Apply now</span></a></li><li class="navigation__course--item"><a href="#" tabindex="-1" class="Sticky_anchorlink_Why_choose Deakin"><span>Why choose Deakin</span></a></li></ul>
            <a href="#" class="navigation__course--button navigation__course--button-prev" style="display: none;"><span class="icon icon__arrow--prev--white"></span>prev</a>
            <a href="#" class="navigation__course--button navigation__course--button-next" style="display: none;"><span class="icon icon__arrow--next--white"></span>next</a>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation__course--apply-button"><a href="#"><span class="icon icon__page"></span>Apply <span class="sticky-hide">Now</span></a></div>
  </div>
</div>