<div class="modal__info">
	<div class="modal__info--top">
	  <p><i class="icon icon-CalendarClock"></i>Stay in the loop on key dates</p>
	  <p><i class="icon icon-Ribbon"></i>Be the first to know about application details</p>
	  <p><i class="icon icon-Information"></i>Keep up to date on Deakin news</p>
	</div>
</div>