<div class="modal__title">
  <div id="modalDescription" class="screen-reader-offscreen">Beginning of dialog window. It begins with a heading 1 called &quot;Registration Form&quot;. Escape will cancel and close the window.</div>
  <h1 id="modalTitle"><i class="icon icon-Subscribe"></i>Subscribe</h1>
  <button id="modalCloseButton" class="modalCloseButton" title="Close registration form">X</button>
</div><!-- /.modal__title -->
