<div class="form-section-two">

  <div class="flexContainer flexContainer--row thankYou">
    <i class="icon icon-Tick icon-circle--border"></i>
    <div class="flexContainer flexContainer--column">
      <h3>Welcome to the Deakin family, <span class="enquirer-name">[name]</span>.</h3>
      <p>Thank you for subsctibing. We'll keep you up to date with everything you need to know. To help us give you the best updates possible, tell us a little more about yourself.</p>
    </div>
  </div>

  <fieldset class="flexContainer section-startDate"> 
    <legend class="required">Select the date you are planning to start studying:</legend>
    <div class="flexContainer flexContainer--wrap">
      <label class="radioButton" for="date-one">
        <input type="radio" name="startDate" value="2019 T1" id="date-one">
        <span class="">March 2019</span> 
      </label>

      <label class="radioButton" for="date-two">
        <input type="radio" name="startDate" value="2019 T2" id="date-two">
        <span class="">July 2019</span> 
      </label>

      <label class="radioButton" for="date-three">
        <input type="radio" name="startDate" value="2019 T3" id="date-three">
        <span class="">November 2019</span> 
      </label>
    </div>
  </fieldset><!-- /.section-startDate -->

  <fieldset class="flexContainer section-areaOfInterest section-generic"> 
    <legend class="required">Choose your study area of interest:</legend>
    <div class="flexContainer flexContainer--wrap">
      <label class="radioButton fakeDropdown flatBottom studyInterest" for="study-interest">
        <div>
        <input type="radio" name="studyInterest" id="study-interest">
          <span class="js-textReplace no-radio">Select from the list&hellip;</span>
            <svg class="icon icon-arrow icon-arrow__background">
              <use href="#icon-arrow" xlink:href="#icon-arrow"/>
            </svg>
          
        </div>
        <div>
          
        </div>
        <div class="flexContainer flexContainer--wrap flexContainer--child">
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="architecture-built-environment" id="architecture">
              <span>Archiecture and built environment</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="business">
              <span>Business</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="education-teaching">
              <span>Education and teaching</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="engineering">
              <span>Engineering and design</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="english">
              <span>English landuage course</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="environment">
              <span>Environment</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="nutrition">
              <span>Food, nutrition and dietics</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="health">
              <span>Health sciences and allied health</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="humanities">
              <span>Humanities, social sciences and languages</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="informationtechnology">
              <span>Information technology</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="law">
              <span>Law</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="media">
              <span>Media, communication and creative arts</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="medicine">
              <span>Medicine</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="nursing">
              <span>Nursing and midwifery</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="psychology">
              <span>Psychology</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="sciences">
              <span>Sciences</span>
            </label>
          </div>
          <div class="sub-radio">
            <label class="radioButton">
              <input type="radio" name="subject" value="sport">
              <span>Sport</span>
            </label>
          </div>

        </div><!-- /.flexContainer -->
      </label>
    </div>
  </fieldset><!-- /.section-areaOfInterest -->

  <fieldset class="flexContainer section-wantToKnow">
    <legend class="required">Tell us more about what you want to know about:</legend>
    <div class="flexContainer flexContainer--wrap">
      <label class="checkboxButton" for="pathways">
        <input type="checkbox" name="wantToKnow" value="Pathways to university" id="pathways">
        <span class="">Pathways</span> 
      </label>

      <label class="checkboxButton" for="studying-online">
        <input type="checkbox" name="wantToKnow" value="Studying online" id="studying-online">
        <span class="">Studying online</span> 
      </label>

      <label class="checkboxButton" for="scholarships">
        <input type="checkbox" name="wantToKnow" value="Scholarships" id="scholarships">
        <span class="">Scholarships</span> 
      </label>

      <label class="checkboxButton" for="keydates">
        <input type="checkbox" name="wantToKnow" value="Key dates" id="keydates">
        <span class="">Key dates</span> 
      </label>

      <label class="checkboxButton" for="how-to-apply">
        <input type="checkbox" name="wantToKnow" value="How to apply" id="how-to-apply">
        <span class="">How to apply</span> 
      </label>

      <label class="checkboxButton" for="accommodation">
        <input type="checkbox" name="wantToKnow" value="Accommodation" id="accommodation">
        <span class="">Accommodation</span> 
      </label>

      <label class="checkboxButton" for="events">
        <input type="checkbox" name="wantToKnow" value="Events" id="events">
        <span class="">Events</span> 
      </label>

      <label class="checkboxButton" for="fees">
        <input type="checkbox" name="wantToKnow" value="Fees" id="fees">
        <span class="">Fees</span> 
      </label>

      <label class="checkboxButton" for="career-and-study-advice">
        <input type="checkbox" name="wantToKnow" value="career-and-study-advice" id="career-and-study-advice">
        <span class="">Career and study advice</span> 
      </label>
    </div>
  </fieldset><!-- /.section-wantToKnow -->

  <div class="flexContainer">
    <div class="inputContainer inputContainer--right">
      <button type="submit" name="update" class="button button--update button--primary">
      <span style="display:none" class="loadersmall"></span>
        Update my details
        </button>
    </div>
  </div>

</div><!-- /.section-two -->