<div class="undergrad-section-two">

  <div class="flexContainer flexContainer--row thankYou">
    <i class="icon icon-Tick icon-circle--border"></i>
    <div class="flexContainer flexContainer--column">
      <h3>Welcome to the Deakin family, [name].</h3>
      <p>Thank you for subsctibing. We'll keep you up to date with everything you need to know. To help us give you the best updates possible, tell us a little more about yourself.</p>
    </div>
  </div>

  <fieldset class="flexContainer section-startDate"> 
    <legend class="required">Select the date you are planning to start studying:</legend>
    <div class="flexContainer flexContainer--wrap">
      <label class="radioButton" for="date-one">
        <input type="radio" name="startDate" value="march-2019" id="date-one">
        <span class="">March 2019</span> 
      </label>

      <label class="radioButton" for="date-two">
        <input type="radio" name="startDate" value="july-2019" id="date-two">
        <span class="">July 2019</span> 
      </label>

      <label class="radioButton" for="date-three">
        <input type="radio" name="startDate" value="november-2019" id="date-three">
        <span class="">November 2019</span> 
      </label>
    </div>
  </fieldset><!-- /.section-startDate -->

  <fieldset class="flexContainer section-wantToKnow">
    <legend class="required">Tell us more about what you want to know about:</legend>
    <div class="flexContainer flexContainer--wrap">
      <label class="radioButton" for="pathways">
        <input type="checkbox" name="wantToKnow" value="pathways" id="pathways">
        <span class="">Pathways</span> 
      </label>

      <label class="radioButton" for="studying-online">
        <input type="checkbox" name="wantToKnow" value="studying-online" id="studying-online">
        <span class="">Studying online</span> 
      </label>

      <label class="radioButton" for="scholarships">
        <input type="checkbox" name="wantToKnow" value="scholarships" id="scholarships">
        <span class="">Scholarships</span> 
      </label>

      <label class="radioButton" for="keydates">
        <input type="checkbox" name="wantToKnow" value="keydates" id="keydates">
        <span class="">Key dates</span> 
      </label>

      <label class="radioButton" for="how-to-apply">
        <input type="checkbox" name="wantToKnow" value="how-to-apply" id="how-to-apply">
        <span class="">How to apply</span> 
      </label>

      <label class="radioButton" for="accommodation">
        <input type="checkbox" name="wantToKnow" value="accommodation" id="accommodation">
        <span class="">Accommodation</span> 
      </label>

      <label class="radioButton" for="career-and-study-advice">
        <input type="checkbox" name="wantToKnow" value="career-and-study-advice" id="career-and-study-advice">
        <span class="">Career and study advice</span> 
      </label>

      <label class="radioButton" for="events">
        <input type="checkbox" name="wantToKnow" value="events" id="events">
        <span class="">Events</span> 
      </label>

      <label class="radioButton" for="fees">
        <input type="checkbox" name="wantToKnow" value="fees" id="fees">
        <span class="">Fees</span> 
      </label>
    </div>
  </fieldset><!-- /.section-wantToKnow -->

  <div class="flexContainer">
    <div class="inputContainer inputContainer--right">
      <button type="submit" name="update" class="button button--update button--primary" disabled>Update my details</button>
    </div>
  </div>

</div><!-- /.undergrad-section-one -->