<div class="undergrad-section-one">
  <div class="modal__info--bottom">
    <h3>We'll ensure you're notified of all news, dates and important notices regarding [Course Name] courses.</h3>
  </div>
  <fieldset class="section-contactDetails">
    <div class="flexContainer">
      <legend>Fill your contact details</legend>
    </div>
    <div class="flexContainer">

      <div class="inputContainer inputContainer--half required">
         <input type="text" name="firstName" id="firstName" >
         <label for="firstName">First Name:</label>
      </div>
      <div class="inputContainer inputContainer--half">
         <input type="text" name="lastName" id="lastName">
         <label for="lastName">Last Name:</label>
      </div>
    </div>
    <div class="flexContainer">
      <div class="inputContainer inputContainer--half">      
         <input type="text" name="email" id="email">
         <label for="email">Email:</label>
      </div>
      <div class="inputContainer inputContainer--half">
         <input type="tel" name="mobile" id="mobile">
         <label for="mobile">Mobile Phone:</label>
      </div>
    </fieldset><!-- /.section-contactDetails -->

    <fieldset class="flexContainer section-describesYou">
      <legend>What best describes you?</legend>
      
      <div class="flexContainer flexContainer--wrap">
        <label class="radioButton flatBottom fakeDropdown" for="secondary-student">
          <div>
            <input type="radio" name="describesYou" value="secondary-student" id="secondary-student">
            <span class="secondary-school-student">Secondary school student:</span>
          </div>
            <div class="flexContainer flexContainer--wrap flexContainer--child">
              <div class="sub-radio">
                <label class="radioButton">
                  <input type="radio" name="secondary-school" value="Year 12" id="y12" >
                  <span>Year 12</span>
                </label>
              </div>

              <div class="sub-radio">
                <label class="radioButton">
                  <input type="radio" name="secondary-school" value="Year 11" id="y11" >
                  <span>Year 11</span>
                </label>
              </div>

              <div class="sub-radio">
                <label class="radioButton">
                  <input type="radio" name="secondary-school" value="Year 10" id="y10" >
                  <span>Year 10</span>
                </label>
              </div>

              <div class="sub-radio">
                <label class="radioButton">
                  <input type="radio" name="secondary-school" value="Year 9" id="y9" >
                  <span>Year 9</span>
                </label>
              </div>

              <div class="sub-radio">
                <label class="radioButton">
                  <input type="radio" name="secondary-school" value="Year 8" id="y8" >
                  <span>Year 8</span>
                </label>
              </div>  

              <div class="sub-radio">
                <label class="radioButton">
                  <input type="radio" name="secondary-school" value="Year 7" id="y7" >
                  <span>Year 7</span>
                </label>
              </div>  

              <div class="sub-radio">
                <label class="radioButton">
                  <input type="radio" name="secondary-school" value="Earlier" id="early" >
                  <span>Earlier</span>
                </label>
              </div>  
            </div><!-- /.flexContainer -->
        </label>

        <label class="radioButton" for="parent-of-student">
          <input type="radio" name="describesYou" value="parent-of-student" id="parent-of-student">
          <span class="">Parent of student</span>
        </label>

        <label class="radioButton" for="careers-practitioner">
          <input type="radio" name="describesYou" value="careers-practitioner" id="careers-practitioner">
          <span class="">Careers practitioner</span>
        </label>

        <label class="radioButton" for="currently-in-workforce">
          <input type="radio" name="describesYou" value="currently-in-workforce" id="currently-in-workforce">
          <span class="">Currently in the workforce</span>
        </label>

        <label class="radioButton" for="studying-tafe-rto">
          <input type="radio" name="describesYou" value="studying-tafe-rto" id="studying-tafe-rto">
          <span class="">Studying at a TAFE or RTO</span>
        </label>

        <label class="radioButton" for="studying-at-another-uni">
          <input type="radio" name="describesYou" value="studying-at-another-uni" id="studying-at-another-uni">
          <span class="">Studying at another university</span>
        </label>

        <label class="radioButton" for="current-deakin-student">
          <input type="radio" name="describesYou" value="current-deakin-student" id="current-deakin-student">
          <span class="">Current Deakin student</span>
        </label>
      </div>
    </fieldset><!-- /.section-describesYou -->

    <div class="flexContainer">
      <div class="inputContainer inputContainer--checkbox inputContainer--right">
        <input type="checkbox" name="opinion">
        <label for="opinion">I'm interested in sharing my opinion to help Deakin improve student experience</label>
      </div>
  
    </div>

    <div class="flexContainer">
      <div class="inputContainer inputContainer--right">
        <button type="submit" name="subscribe" class="button button--subscribe button--primary">Subscribe</button>
      </div>
    </div>

    <small class="align--right agree--small">By clicking subscribe, I agree to Deakin University's <a href="#">Privacy Policy</a></small>
<!-- </div> -->
</div><!-- /.undergrad-section-one -->